<!-- 共通部分の読み込み入れる(現在エラー中)-->

<h1>Users</h1>

  <% @users.each do |user| %>
　<table>
　  <thead>
　    <tr>
　      <th>image</th>
　      <th>name</th>
　      <th></th>
　    </tr>
　  </thead>

　  <tbody>
　    <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
　      <td><%= user.name %></td>
　      <td><%= link_to "show", user_path(user.id) %></td>
　    </tr>
　  </tbody>
　</table>
　<% end %>