<div class="forflex">

  <div class="left">
    <%= render 'users/template', book: @book ,user: @user %>
  </div>


  <div class=right>
    <div class="show">
      <h2>Books</h2>

      <table class="table-hover">
        <thead>
          <tr>
            <th>  </th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>

        <% @books.each do |book| %>
        <tbody>
          <tr>
            <!--アイコン写真-->
            <td><%= attachment_image_tag @user, :profile_image , :fill, 30, 30 %></td>
            <!--本のタイトル-->
            <td><%= link_to book.title, book_path(book.id) %></td>
            <!--本の感想-->
            <td><%= book.body %> </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>

</div>
