<main>
  <div class="container">
    <h1>welcome to<span class="fas fa-book">Bookers!!</span></h1>
    <p>In <span class="fas fa-book"></span>Bookers,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions about various books!</p>
    <p><%= link_to "Log in", user_session_path %></p>
    <p><%= link_to "Sign up", new_user_registration_path %></p>
  </div>

</main>
