/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 15px;
}

.field , .actions {
  margin-bottom: 10px;
}

.nav-item {
  padding: 4px 0;
}

.nav-link:hover {
  opacity: 0.6;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-info {
  color: white !important;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-success {
  color: white !important;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primmary {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.error-box {
  margin-left: 30px;
}

.red-message {
  color: red;
}

.error-box > ul {
  padding-left: 40px;
}

.textarea-full {
  width: 100%;
}

.comment-space {
  width: 50%;
}

.td {
  width: 25%;
}

.follow {
  margin-left: 30px;
}

.search_form {
  text-align: center;
  margin: 20px 0;
}